<configuration>
  <system.webServer>
    <!-- Configures iisnode -->
    <handlers>
      <add name="iisnode" path="server.cjs" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <!-- Do not interfere with requests for logs -->
        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$"/>
        </rule>

        <!-- Don't rewrite node_modules -->
        <rule name="NodeModules" stopProcessing="true">
          <match url="node_modules/.*" />
          <action type="None" />
        </rule>

        <!-- All other queries are mapped to the node.js entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server.cjs"/>
        </rule>
      </rules>
    </rewrite>

    <!-- Exclude the node_modules directory from being served -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Detailed errors for debugging during setup -->
    <httpErrors existingResponse="PassThrough" />

    <!-- iisnode options -->
    <iisnode 
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      devErrorsEnabled="true"
      nodeProcessCommandLine="node --no-deprecation"
    />
  </system.webServer>
</configuration>
